supabase/
node_modules/
.next/
build/
# python enviroment
scripts/.mypy_cache
scripts/__pycache__
myenv/
venv/


scripts/g2b.py
scripts/colors.txt
notes
create\ tables
# DO NO UPLOAD ENV FIILES
*.env
*.env*
.DS_STORE

package-lock.json

# Supabase
supabase.branches
supabase.temp
supabase.env

drawings/
public/golfergif/
public/xddlogo.png

#
components/ErrorWrapper.js

# ignore dev tools
dev/
template.js

#ignore logging
logs/