supabase/
node_modules/
.next/
notes
create\ tables
# DO NO UPLOAD ENV FIILES
*.env
*.env*
.DS_STORE

# Supabase
supabase.branches
supabase.temp
supabase.env

# I don't really know
public/family-guy-peter-griffin.gif