.create-group {
  font-size: xx-large;
  max-width: 768px;
  background-color: var(--bet-background-color);
  padding: 20px;
  border-radius: 20px;
}
.create-group td {
  font-size: medium;
  width: 100%;
  text-align: justify;
  align-items: center;
}
.create-group button {
  width: 178px;
  margin-top: 10px;
  font-size: large;
  background-color: var(--cta-button-bg-color);
  color: var(--button-text);
  padding: 5px 25px 5px 25px;
  border-radius: 18px;
}

.create-group button.add-user-button {
  background-color: var(--bet-option-button);
}

.create-group button.create-group-button {
  background-color: var(--cta-button-bg-color);
}
.create-group input {
  background-color: var(--form-input);
  color: var(--input-text);
  width: 240px;
  padding: 3px;
  border-radius: 6px;
  border: none;
}

.add0 {
  font-size: small;
  text-align: center;
  margin-bottom: 0px;
}

button.remove {
  width: 23px;
  border: none;
  background-color: transparent;
  padding: 0;
  padding-left: 10px;
}

button.remove img {
  opacity: 1;
  height: 20px;
  aspect-ratio: 1;
}

.create-group table {
  max-width: 768px;
  width: auto;
}

.create-group table td{
  width: auto;
  padding: 5px;
}

.create-group form table tbody tr td, .create-group form table tbody tr td input  {
  font-size: 20px;
}

.error {
  color: var(--error-color); 
  font-size:smaller; 
  font-style:italic; 
  margin-top:5px;
}


.create-group form table {
  border-spacing: 5px;
}

.table-message {
  position: absolute;
  width: 100%;
  text-align: right;
  right: 10px;
  height: 19px;
  padding: 0px 10px 0px 0px;
}

.btn-ctnr {
  display: flex;
  justify-content: space-around;
  width: 100%;
}