/* styles.css */

#wordtitles {
  text-align: center;
}

#wordtitles h1 {
  font-size: 2em; /* Adjust the font size as needed */
  margin-bottom: 0; /* Remove default bottom margin */
  color: #4caf50; /* Green color */
  min-width: 235px;
}

@font-face {
  font-family: "DigitizedMontserrat";
  src: url("../../public/MontserratSubrayada-Regular.ttf") format("truetype"); /* Adjust the path and format */
  font-weight: normal;
  font-style: normal;
}

#wordtitles h6 {
  font-family: "DigitizedMontserrat";
  font-size: 1em; /* Adjust the font size as needed */
  margin-top: 0; /* Remove default top margin */
  color: #333; /* Dark color */
  text-align: left;
  padding-left: 7px;
}

header {
  background-color: var(--background-color);
  color: var(--header-text-color);
  padding: 15px 20px;
  text-align: center;
  color: var(--header-text-color);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.logo img {
  width: var(--logo-size);
  height: auto;
  margin-right: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  min-width: 110px;
}

nav a:hover {
  color: var(--nav-link-hover-color);
}

.cta-button {
  background-color: var(--cta-button-bg-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 122px;
}

.cta-button:hover {
  background-color: var(--cta-button-hover-bg-color);
}
