/* styles.css */

#wordtitles {
  text-align: center;
  width: 224px;
  text-align: left;
}

#wordtitles h1 {
  font-size: 2em; 
  margin-bottom: 0;
  color: var(--header-color);
  min-width: 173px;
}

@font-face {
  font-family: "DigitizedMontserrat";
  src: url("../../public/MontserratSubrayada-Regular.ttf") format("truetype"); 
  font-weight: normal;
  font-style: normal;
}

#wordtitles h6 {
  font-family: "DigitizedMontserrat";
  font-size: .78em; 
  margin-top: 0; 
  color: var(--highlighted-dark); 
  text-align: left;
  padding-left: 7px;
}

header {
  background-color: var(--background-color);
  color: var(--header-text-color);
  padding: 15px 20px;
  text-align: center;
  color: var(--header-text-color);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.logo img {
  width: var(--logo-size);
  height: auto;
  margin-right: 10px;
}

nav {
  display: flex;
  overflow-x: auto;
  position: absolute;
  left: 304px;
  right: 196px;
  width: calc(100% - 500px);
  justify-content: space-evenly;
  padding-bottom: 16px;
  transform: translateY(8px);
  margin: 0 auto;
}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  width: fit-content;
  display: inline-block;
  white-space: nowrap;
}

nav a:hover {
  color: var(--nav-link-hover-color);
}

.cta-button {
  background-color: var(--cta-button-bg-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 122px;
}

.cta-button:hover {
  background-color: var(--cta-button-hover-bg-color);
}
