/* styles/home.css */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  min-height: 90vh;
  height: 100%;
  position: relative;
  top: -16px;
}

.home .authored {
  font-size: 48px;
  font-weight: 100;
  color: var(--highlighted-dark); 
  position: relative;
  top: -20px;
}

.home .title {
  font-size: 72px;
  font-weight: 200;
  /* margin-bottom: -50px; */
  color: var(--cta-button-hover-bg-color);

}

.home .description {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
}

.home .options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
}

.home .option {
  padding: 20px;
  margin: 0 10px;
  color: white;
  background-color: var(--background-color);
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.home .option:hover {
  background-color: var(--satan-minus-one);
}

.home .card {
  background-color: var(--bet-background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 300px;
  width: 300px;
}

.home .card:hover {
  background-color: var(--link-color);
  transform: scale(1.05);
}

.home .card-content {
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.home .card-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.home .card-description {
  font-size: 16px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 10px 4px 10px;
}

.footer .note {
  width: fit-content;
}

.footer .note .link {
  width: 180px;
}
.footer .note a {
  color: var(--bet-option-highlight);
}

.flashy {
  margin: 20px 0px 0px -25px;
  display: flex;
  flex-direction: row;
  user-select: none;
}
.flashy .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flashy .biglogo {
  height: 138px;
  width: 138px;
  margin: 0px 10px 0px 10px;
}

.home .description  {
  background-color: transparent;
  font-size: 30px;
  font-weight: 200;
  color: var(--bet-text-color);
}

.mage-blender {
  align-self: center;
  padding: 20px;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.mage-blender img {
  display: block;
  max-height:300px;
  width: auto;
  height: auto;
}

.home .acct-ctrl {
  position: absolute;
  top: 69px;
  transform: translateY(-50%);
  right: 16px;
}