.users-container {
    /* styling to make the bubbles look cool */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 5px 0px 5px 0px;
    width: 480px;
    /* now make the actual element*/
    border-radius: 10px;
    background-color: var(--highlighted-dark);
}

.group-manager {
    display: flex;
    margin: 96px 20px 20px 20px;
    flex-direction: column;
}

.group-element {
    background-color: var(--bet-background-color);
    width: 768px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
    padding: 0px 0px 40px 0px;
}

.add {
    padding: 3px;
}

.bets-container-title, .user-container-title, .requests-container-title {
    font-weight: 400;
    font-size: 28px;
    color: var(--bet-text-color);
    text-align: left;
    padding-bottom: 4px;
}

.group-title {
    color: var(--bright-text);
    font-weight: 200;
    font-size: 48px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--cool-dark);
    padding-bottom: 5px;
    margin-bottom: 8px;
}

.group-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    left: 10px;
    right: 10px;
    width: calc(100% - 40px);
}

.bet-container {
    height: calc(100% - 36px);
}

.scroll {
    overflow-y: auto; 
}

.bet-view-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;
    padding:2px 0px 2px 5px;
    color: var(--grayed-out-text);
}

.bet-view-row .titles,
.bet-view-row .types,
.bet-view-row .participations {
    width: 30%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

.bet-view-row:nth-child(even) {
    background-color: var(--alt1-table-rows-bg);

}

.bet-view-row:nth-child(odd) {
    background-color: var(--alt2-table-rows-bg);
}

.requests {
    margin-top: 20px;
    width: calc(100% - 60px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.requests img {
    height: 24px;
}

.request .user, .request .no-results {
    width: 350px;
    height: 84px;
}

.pfp {
    margin-right: 12px;
}

.pfp img {
    border-radius: 50%;
    height: 64px;
}

.top-down {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.request .user {
    display: flex;
    background-color: var(--form-input);
    padding: 10px 4px 10px 4px;
    border-radius: 16px;
}

.request .username {
    font-size: 32px;
    margin-bottom: 0;
    color: var(--bright-text);
    overflow: hidden;
    white-space: nowrap;
}

.request .email {
    font-size: 20px;
    color: var(--grayed-out-text);
    overflow: hidden;
    white-space: nowrap;
}

.requests .left:hover, .requests .right:hover {
    background-color: var(--soft-highlight);
    
}

.requests .left, .requests .right {
    width: 30px;
    height: 30px;
    border-radius: 50%;  
    padding: 3px;  
}

.left img {
    transform: translateX(-2px);
}

.right img {
    transform: translateX(2px);
}

.req-nav-div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 420px;
    justify-content: space-between;
}

.no-results {
    background-color: var(--form-input);
    padding: 24px 4px 10px 4px;
    border-radius: 16px;
    color: var(--deactive-gray);
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

.decision-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 420px;
    padding: 10px 65px 2px 65px;
}

.accept .text, .reject .text {
    padding-top: 5px;
    color: var(--bet-text-color);
    position: absolute;
    transform: translateX(-25%);
}

.accept, .reject {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.accept img, .reject img {
    transform: translateY(4px);
}
.accept:hover, .reject:hover {
    background-color: var(--soft-highlight);
}