.bet {
  background-color: var(--bet-background-color);
  width: 565px;
  border-radius: 30px;
  margin: 20px;
  padding: 10px;
  position: relative;
  color: var(--text-color);
  box-shadow: "0 0 10px rgba(255, 255, 255, 0.3)";
  position: relative;
}

.bet img#status {
  position: absolute;
  top: 0;
  left: 10px;
  margin: 10px;
  height: 24px;
  width: 24px;
}

/* .bet p {
  text-align: left;
  left: 15%;
  width: 70%;
  padding-right: 10px;
  position: relative;
} */

.bet .odds {
  color: var(--bet-text-color);
  font-weight: 600;
  font-size: 16.67px;
}

.line,
.it-hits {
  color: var(--cta-button-hover-bg-color);
  font-size: 32px;
}

.odds {
  text-align: right;
}

.options-winnings {
  align-items: center;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.value-form {
  display: flex;
  flex-direction: row;
}


.description * {
  text-align: left;
  width: 100%;
  margin: 4px 10px 4px 10px;
}

.description {
  padding: 1px 5px 1px 5px;
  margin: 10px;
  position: relative;
  left: 0px;
  width: 80%;
  text-align: left;
  background-color: var(--highlighted-dark);
  border-radius: 8px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.find-groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  color: var(--bet-option-highlight);
  font-size: 30px;
}

.find-groups a {
  padding-top: 10px;
  color: var(--deactive-gray);
  text-decoration: none;
}

.find-groups a:hover {
  color: var(--bet-text-color);
}

.winnings-cash {
  display: flex;
  flex-direction: row;
}

.input-buttons {
  display: flex;
  flex-direction: row;
}