.create-bet {
    max-width: 768px;
    width: 768px;
    background-color: var(--bet-background-color);
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
    text-align: left;
}

.create-bet form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
}

label {
    font-weight: bold;
}

.create-bet 
input,
.create-bet select {
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--form-input);
    border: none;
    color: var(--input-text);
    font-size: 36px;
}

.create-bet input:focus {
    outline: none;
}

.create-bet label {
    font-size: 28px;
}

.create-bet textarea {
    width: 100%;
    min-height: 3em; 
    max-height: 434px; 
    resize: vertical;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--form-input);
    color: var(--input-text);
}

.bet-radio {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-left: 15px;
    padding-left: 15px;
}

label input[type="radio"] {
    cursor: pointer;
    user-select: none;
}

.create-bet button {
    background-color: var(--cta-button-bg-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.create-bet button:hover {
    background-color: var(--cta-button-hover-bg-color);
}

.create-bet button.remove-button:hover {
    background-color: var(--soft-highlight);
}

.bet-radio .custom-radio {
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px 20px 10px 20px;
    border-radius: 19px;
    min-width: 138px;
}

.custom-radio:checked {
    background-color: var(--nav-link-hover-color);
}

input[type="radio"] {
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
}

.bet-radio .radio-label {
    line-height: normal;
    font-size: 16px;
}

.bet-radio .radio-label .real-radio:checked + .custom-radio {
    background-color: var(--nav-link-hover-color);
}


.over-under-input {
    display: flex;
    flex-direction: row;
    font-size: 28px;
    margin: 20px;
}

.over-under-input label {
    padding-right: 10px;
    margin-left: 5px;
    padding-left: 10px;
}

.create-bet .spec-input {
    background-color: var(--input-background);
    font-size: 28px;
    font-weight: 600;
    width: calc(100% - 144px);
    color: var(--bet-text-color);
}

.create-bet .box {
    display: flex;
    width: 100%;
}

.create-bet .right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    flex: 1;
    margin-left: 10px;
}

.create-bet .left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    flex: 2;
}

.input-row {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.create-bet select option, .create-bet select {
    font-size: 20px;
}

.create-bet select {
    padding: 3px;
}

.select-corner {
    padding: 10px;
    margin: 10px;
}

.hit-input, .miss-input {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.moneyline-input {
    margin: 20px;
}

.hit-input label, .miss-input label{
    width: 200px;
}

.create-bet textarea::placeholder {
    color: var(--grayed-out-text);
}
.moneyline-input input{
    margin-left: 10px;
}

.options-input {
    padding: 15px;
    margin: 15px;
}

.options-input thead {
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}

.options-input thead td {
    padding: 10px;
    background-color: var(--table-header-background);

}

.options-input table {
    gap: 0px;
    border-collapse: collapse;
    border-spacing: 0;
}
.options-input input {
    font-size: 30px;
}

.options-input table thead tr td:nth-child(1) {
    border-top-left-radius: 9px;
}

.options-input table thead tr td:nth-child(2) {
    border-top-right-radius: 9px;
}

.remove-option {
    border-radius: 18px;
    height: 36px;
    width: 36px;
    position: absolute;

}
.remove-button {
    position: absolute;
    background-color: transparent;
    width: 36px;
    aspect-ratio: 1;
}

.remove-option button {
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.remove-button:hover {
    background-color: var(--soft-highlight);
}

.remove-button {
    padding: 0;
}
.remove-button img {
    width: 32px;
    height: 32px;
}
.add-option {
    margin: 15px 0px 15px 0px;
}
.add-button {
    display: flex;
    flex-direction: row;
}
.add-btn-txt {
    font-size: 18px;
    padding-left: 7.5px;
    padding-bottom: 1.5px;
    display: flex;
    align-self: flex-end;
    font-weight: 600;
}

.add-button img {
    height: 24px;
    width: 24px;
}

.selects {
    display: flex;
    flex-direction: row;
    width: calc(100% - 10px);
}

.selects * {
    flex: 1;
}

.selects .type, .selects .group {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 5px;
}

.redirect-to-new-group {
    font-size: 24px;
    font-weight: 600;
    max-width: 768px;
    width: calc(100% - 20px);
    color: var(--soft-highlight);
}

.redirect-to-new-group a {
    font-weight: 400;
    color: var(--cta-button-bg-color);
}

.redirect-to-new-group a:hover {
    color: var(--cta-button-hover-bg-color);
}

.create.bet button {
    background-color: transparent;
    border: none;
    padding: 8px;
}

.create.bet .over-under {
    font-family: Roboto,arial,sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 1px;
    color: var(--icon-color);
}

.create.bet .button-nav {
    align-items: center;
    border-top: 1px solid var(--table-border);
    padding: 8px 00px 6px 0px;
    width: calc(100% - 32px);
    margin: 0 auto;
}

.create.bet .radio-type-container * {
    margin-right: 0px;
}

.create.bet .radio-type-container {
    height: fit-content;
}

.create.bet textarea {
    background-color: transparent;
    font-size: 28px;
    border: none;
    outline: none;
    color: var(--input-text);
    width: calc(100% - 32px);
    height: 2em;
    font-family: "Arial", sans-serif;
    max-width: calc(100% - 32px);
    min-width: calc(100% - 32px);
    min-height: 2em;
}

.highlightable label  {
    padding: 3px;
    border-radius: 23px;
    height: 46px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlightable input[type="radio"] + label {
    filter: brightness(55%);
}

.highlightable input[type="radio"]:checked + label {
    filter: brightness(110%);
}

.highlightable button:hover, .highlightable label:hover {
    background-color: var(--manifest) !important;
}

.highlightable.submit:hover {
    background-color: var(--button-background) !important;
}

.highlightable.submit img {
    height: 32px;
    width: 32px;
}

.create.bet input.line, label {
    background-color: transparent;
    font-size: 20px;
    border: none;
    outline: none;
    color: var(--unimportant-text);
    margin-right: 5px;
    width: auto;
}

label.line {
    color: var(--cta-button-hover-bg-color) !important;
    font-size: 32px !important;
    font-weight: normal;
}

input.line {
    font-size: 28px !important;
}

input.option {
    background-color: transparent;
    border: none;
    outline: 1px solid var(--manifest);
    border-radius: 4px;
}

input.option:focus {
    outline: 2px solid var(--button-hover);

}

.highlight-button:hover {
    background-color: var(--green-lantern);
    border-radius: 50%;
}

.highlight-button.delete {
    filter: brightness(0);
}

.highlight-button.delete:hover {
    border-radius: 50%;
    filter: brightness(89%);
    background-color: var(--rose-tinted-glasses);
}

.highlight-button.delete.disabled:hover {
    border-radius: 50%;
    filter: brightness(146%) grayscale(1);
    background-color: var(--rose-tinted-glasses);
    cursor: not-allowed;
}

input.option {
    padding: 13px 3px 0px 3px;
    padding-left: 6px;
    line-height: 34px;
}

.option .placeholder {
    height: 100%; 
    margin-left: 6px; 
    color: var(--unimportant-text); 
    left: 0; 
    line-height: 34px;
}

.option .placeholder.filled { 
    top: -11px;
    font-size: 11px;
} 

.input.filled input.option {
    padding-bottom: 0px;
}

.input input.option {
    padding-bottom: 8px;
}

.option div button {
    width: 24px;
    height: 24px;
}

.line-box {
    width: 280px;
}

.over-info, .under-info {
    display: flex;
    align-content: flex-start;
    color: var(--deactive-gray);
}

.over-info span, .under-info span {
    padding: 0 2px;
}