/* Customize the label (the croc) */
.croc {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none; /* Disabling user selection */
  display: flex;
  flex-direction: row;
  align-items: center;
  color:  var(--icon-color);
  font-weight: 400 !important;
  width: 100%;
}

/* Hide the browser's default radio button */
.croc input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 5.5px;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: var(--unimportant-text);
  border-radius: 50%;
  transition: background-color 0.2s ease;
  border: 1px solid var(--icon-color);
}

/* On mouse-over, add a grey background color */
.croc:hover .checkmark {
  background-color: var(--icon-color);
}

/* When the radio button is checked, add a green background */
.croc input:checked ~ .checkmark {
  background-color: var(--button-hover);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.croc input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkmark:after {
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background:  white;
}


.croc input:checked ~ .checkmark + span.label {
  color: var(--bright-text);
}