.date-time-modal {
    background-color: var(--bet-background-color);
    height: 164px;
    width: 182px;
    border: 1px solid var(--manifest);
    z-index: 100;
    right: -10px;
    top: 20px;
    margin: 10px;
    border-radius: 4px;
}


.date-time-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--unimportant-text);
    font-weight: 400;
    font-size: 16px;
    padding-left: 47px;
    border-radius: 4px;
}

.img-hover-wrapper {
    width: 34px;
    height: 34px;
    padding: 5px;
    border-radius: 50%;
}

.img-hover-wrapper:hover {
    background-color: var(--soft-highlight);
}

button.react-calendar__tile:hover{
    background-color: var(--infomercial);
}

.react-calendar__tile {
    aspect-ratio: 1;
    width: 24px;
    border-radius: 3px;
}


.create.bet .react-calendar__tile.react-calendar__tile--active {
    background-color: var(--your-pick);
    border: 1px solid var(--table-border);
}

abbr[title] {
    text-decoration: underline;
    color: var(--unimportant-text);
}

.create.bet .react-calendar button {
    padding: 0;
}

.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
}

.react-calendar__navigation * {
    width: fit-content;
    flex-grow: 0 !important;
}

.react-calendar__navigation__arrow {
    color: var(--unimportant-text);
}

.react-calendar__navigation__arrow:hover {
    color: var(--bet-text-color);
}

.react-calendar__navigation__label__labelText {
    color: var(--unimportant-text);
}

.react-calendar__month-view__days__day {
    color: var(--bright-text);
} 

.react-calendar__month-view__days__day--neighboringMonth {
    color: var(--manifest);
}