.date-time-modal {
    background-color: var(--bet-background-color);
    height: 160px;
    width: 182px;
    border: 1px solid var(--manifest);
    z-index: 100;
    right: -10px;
    top: 20px;
    margin: 10px;
    border-radius: 4px;
}


.date-time-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--unimportant-text);
    font-weight: 400;
    font-size: 16px;
    padding-left: 47px;
    border-radius: 4px;
}

.img-hover-wrapper {
    width: 34px;
    height: 34px;
    padding: 5px;
    border-radius: 50%;
}

.cldnr {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-auto-rows: 1fr;
}

.cldnr .su {
    grid-column: 1 / span 1;
}

.cldnr .mo {
    grid-column: 2 / span 1;
}

.cldnr .tu {
    grid-column: 3 / span 1;
}

.cldnr .we {
    grid-column: 4 / span 1;
}

.cldnr .th {
    grid-column: 5 / span 1;
}

.cldnr .fr {
    grid-column: 6 / span 1;
}

.cldnr .sa {
    grid-column: 7 / span 1;
}

.cldnr .hd {
    grid-area: 1 / 1 / 2 / 8;
    background-color: var(--soft-highlight);
    width: 100%;
    height: 20px;
}

.cldnr .a {
    grid-row: 1 / span 1;
}

.cldnr .b {
    grid-row: 2 / span 1;
}

.cldnr .c {
    grid-row: 3 / span 1;
}

.cldnr .d {
    grid-row: 4 / span 1;
}

.cldnr .e {
    grid-row: 5 / span 1;
}

.cldnr .f {
    grid-row: 6 / span 1;
}


.cldrn .cb {

}

.cldrn .cb:hover {
    background-color: var(--soft-highlight);
}

