.friend-button-action {
    border: none;
    outline: none;
    width: fit-content;
    padding: 10px 10px 5px 10px;
    background-color: var(--soft-highlight);
    border-radius: 6px;
    box-sizing: content-box;
}

.friend-button-action:hover {
    /* border: 1px solid var(--table-border);
    padding: 9px 9px 4px 9px; */
    outline: none;
    background-color: var(--soft-highlight);
    filter: brightness(150%);
}

.friend-button-action .image {
    margin-top: auto;
    margin-bottom: auto;
}

.friend-button.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-popout.modal {
    display: flex;
    height: fit-content;
    align-items: flex-start;
}


.friend-button-action.accept:hover, .friend-button-action.reject:hover {
    padding: 10px;
    border:none;
    filter: brightness(120%);

}

.friend-button.container .friend-request {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.friend-button.container .friend-request .friend-button-action {
    padding: 0px;
}

.friend-button-action.add:hover {
    filter: brightness(120%);
    border: none;
    padding: 10px 10px 5px 10px;
}
.friend-button-action.friend-request {
    background-color: transparent;
}

.fba.friend-request {
    padding: 14px 0px;
}