.user-bet-row, .user-bets-header {
    justify-content: space-evenly;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: 8fr 6fr 5fr;
    display: grid;
    gap: 10px;
    font-weight: 600;
    padding: 5px;
}

.user-bet-row {
    background-color:  var(--table-bg);
}

.user-bet-row:nth-child(even) {
    background-color: var(--alt1-table-rows-bg);

}
.user-bet-row:nth-child(odd) {
    background-color: var(--alt2-table-rows-bg);
}

.user-bets-header {
    background-color: var(--table-bg);
    display: grid;
    font-weight: bold; 
    padding: 2px 0px 5px 0px;
    grid-template-columns: 9fr 10fr 5fr;
    background-color: var(--table-header-background); 
    padding: 5px; 
    border-bottom: solid 1px var(--table-border); 
    color: var(--bright-text);

}

.user-bet-row * {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.user-bets-header * {
    font-size: 24px;
    
}

.user-picture {
    margin-right: 10px;
}




.bet-title {
    text-align: left;
    /* margin-left: 10px; */
}


.placed-bets {
    gap: 10px;
    width: 400px;
    row-gap: 0;
    margin: 10px;
    color: var(--grayed-out-text);
}

.user-id {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.user-id, .user-option, .user-wager {
    overflow-x: auto;
    overflow-y: hidden;
}

.bet-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -20px -20px 0px -20px;
    padding: 20px 20px 0px 20px;
    width: 565px;
}


.bet.menu {
    padding: 20px;
}

.bet-menu-div p {
    text-align: left;

}

.description * {
    text-align: left;
    width: 100%;
    margin: 4px 10px 4px 10px;
}
  
.bet-menu-div .description {
    padding: 1px 5px 1px 5px;
    margin: 10px;
    position: static;
    width: 400px;
    text-align: left;
    background-color: var(--highlighted-dark);
    border-radius: 8px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
  }

.delete-button {
    padding: 0px;
    height: 35px;
    background-color: transparent;
}

.delete-button:hover {
    background-color: var(--soft-highlight);
}

.cash-out-button {
    padding: 10px 20px;
    background-color: var(--cta-button-bg-color);
}

.bet-options-confirm button {
    color: white;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.bet-options {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bet-options .button-container {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    margin: 15px 0px 10px 0px;
}

.bet-options .button-container button {
    margin: 0px 0px 0px 10px;
}

.section-title {
    font-weight: 700;
    text-align: left;
    position: relative;
    left: 65px;
    font-size: 24px;
    width: 100%;
}

.delete-button img {
    position: relative;
    margin: 5px 8px 5px 8px;
}
