.forgot-password, .reset-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password-form, .reset-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.forgot-password-form input, .reset-password-form input {
    font-size: large;
    padding: 3px;
    border-radius: 6px;
    background-color: var(--input-background);
    color: var(--input-text);
    border: none;
    width: calc(100% - 100px);
}

.forgot-via-email, .update-password {
  width: 178px;
  margin-top: 10px;
  font-size: large;
  background-color: var(--cta-button-bg-color);
  color: var(--button-text);
  padding: 5px 25px 5px 25px;
  border-radius: 18px;
}

.forgot-via-email:hover {
  background-color: var(--cta-button-hover-bg-color);
}

.forgot-password-form .input, .reset-password-form .pwd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 30px 0px 5px 0px;
}

.forgot-password-form .input label, .reset-password-form .pwd label {
    font-weight: 400;
    font-size: 20px;
    padding-right: 15px;
    text-align: left;
}

.forgot-password-form .input label {
    width: auto;
}

.forgot-password-form .input input {
    width: 400px;
}

.reset-password-form .pwd label {
    width: auto;
}
.reset-password-form .pwd input {
    width: 400px;
    max-width: 100%;
}


/*error and success messages*/
.forgot-password i {
    margin-bottom: 10px;
}

.error {
    color: var(--error-color);
}