.profile-nav {
    padding-left: 0px;
}
.profile-nav img {
    height: 50px;
    width: 50px;
    margin-right: 14px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.profile-nav .profile-menu-mobile {
    background-color: var(--table-header-background);
    font-size: 24px;
    position: absolute;
    width: 150px;
    transform: translateX(calc(-100% + 50px)) translateY(-10px);
    border-radius: 2px;
    color: var(--grayed-out-text);
}

.profile-nav .profile-menu-mobile * {
    padding: 4px 8px;
    cursor: pointer;
}

.profile-nav .profile-menu-mobile *:hover {
    background-color: var(--highlighted-dark);
}

.profile-signout-div {
    display: flex;
    flex-direction: row;
    margin: 5px 0px 5px 13px;
}

.user-data > * {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.user-data {
    display: flex; 
    flex-direction: column;
    color: var(--bet-text-color);
    height: 140px;
    min-width: 433px;
}

.pfp-img {
    height: 112px;
    width: 112px;
    position: relative;
}

.edit {
    cursor: pointer;
    border-radius: 4px;
}

.edit:hover {
    background-color: var(--soft-highlight);
}

.edit img {
    margin: 5px;
}

.forgot-pwd a {
    padding: 15px;
    color: var(--link-color);
}
.forgot-pwd a:hover {
    color: var(--link-hover);
}

.profile {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.submit-change {
    background-color: transparent;
    border: none;
}

.submit-change img {
    height: 24px;
}

.submit-change img {
    margin: 5px 0px 5px 0px;
}

.submit-change, .edit {
    vertical-align: middle;
}

.edit-name input, .edit-username input {
    width: 100%;
    margin-right: 15px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--form-input);
    border: none;
    color: var(--input-text);
    font-size: 24px;
}

.submit-change:hover {
    background-color: var(--soft-highlight);
}

.profile-pic {
    display: flex;
    flex-direction: column;
    margin-right: 28px;
    height: 112px;
}

.edit-box {
    display: flex;
    justify-content: center;
}
  
.edit {
    display: inline-block;
}

.profile-data {
    display: flex;
    flex-direction: row;
    text-align: center;

}

.reset-password-link {
    width: 100%;
    font-size: 14px;
}
.reset-password-link a {
    color: var(--link-color);
}

.reset-password-link a:hover {
    color: var(--link-hover);
}