select {
    background-color: var(--input-background);
    /* appearance: none; //TBD 50-50 */ 
    padding: 0px 4px;
    font-size: 24px;
    color: var(--bright-text);

}

select option {
    color: var(--bright-text);
}