.App {
  font-family: sans-serif;
  text-align: center;
  background-color: var(--background-color);
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

body {
  margin: 0px;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

:root {
  --logo-size: 50px;
  --big-logo-size: 200px;

  /* COLORS */ 
  --big-O-color: #aeaeae;
  --background-color: #121212; /* Dark background color */
  --bet-background-color: #333;
  --text-color: #ffffff; /* Light text color */
  --header-color: #4caf50; /* Dark green header text color */
  --button-background: #4caf50; /* Dark green button background color */
  --button-text: #ffffff; /* Light text color for buttons */
  --button-hover: #45a049; /* Slightly darker green on hover */
  --list-item-background: #333; /* Dark background color for list items */
  --link-color: #4caf50; /* Dark green link color */
  --link-hover: #45a049; /* Slightly darker green on hover */
  --nav-link-color: #fff;
  --nav-link-hover-color: #45a049;
  --cta-button-bg-color: #4caf50;
  --cta-button-hover-bg-color: #45a049;
  --deactive-gray: #aaa;
  --bet-text-color: #ccc;
  --grayed-out-text: #ddd;
  --bright-text: #e0e0ea;
  --bet-option-button: #555d50;
  --bet-option-highlight: #737870;
  --darker-text: #158469;
  --input-background: #333; /* Darker gray background color */
  --input-text: #fff; /* White text color */
  --form-input: #555; /* Border color */
  --highlighted-dark: #444;
  --error-color: #8e1717;
  --soft-highlight:#666;
  --table-header-background: #222;
  --alt1-table-rows-bg: #525252;
  --alt2-table-rows-bg: #28262b;
  --table-bg: #0d1108;
  --table-bg-green: #142814;
  --table-bg-red: #281414;
  --dark-red-highlight: ;
  --dark-green-highlight: ;
  --table-border: #C3C9CF;  /*inv(48, 54, 61)*/
  --overlay: rgba(12,12,12,.5);
  --almost-opaque: rgba(51,51,51,.75);
  --danger: #ba1d24;
  --danger-input: #2f2626;
  --delete-button: #cd0e31;
  --delete-button-hover: #dd1035;
  --fancy: #c0de31;
  --satan-minus-one: #555;
  --cool-dark: #28262b;
  --rotation-time: 1s;
  --unimportant-text: #aaa;
  --half-bet-background-color: #181818;
}

* {
  box-sizing: border-box;
}

#root, #__next {
  height: 100vh;  
  width: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  margin-top: 96px;
  padding-bottom: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.notification-box {
  position: relative;
  z-index: 1;
}

.icon-parent {
  position: relative;
}