.wallet img {
  width: 300px;
  aspect-ratio: original;
  overflow: hidden;
  margin: 10px;
}

.wallet .amount {
  font-size: 64px;
  margin: 20px 0px 10px 0px;
}

.null {
  color: var(--grayed-out-text);
  padding: 0px 10px 0px 10px;
}